<header class="nav" appDevicePadding>
  <button class="left-btn"  (click)="goBack()">
    <svg class="icon-left-arrow">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-fanhui"></use>
    </svg>
  </button>
<h1 class="title">服务协议</h1>
</header>

<article class="agreement-article" [appDevicePadding]="44">
  <div>
    <h2>{{appName}}服务协议</h2>
    <dl>
      <dt>一、相关定义</dt>
        <dd>1、用户资料：指用户在注册时提供的个人信息，包括：手机号码、注册账号密码等。</dd>
      <dt>二、本协议服务范围</dt>
        <dd>本协议服务范围包括：提供彩票相关资讯；提供彩票信息交互平台。</dd>
        <dd>本协议服务范围不包括向注册用户提供电脑终端及其附属设备、网络和通信等资源。</dd>
      <dt>三、用户权利</dt>
        <dd>1、免费使用权。用户有权免费获得彩票资讯。</dd>
      <dt>四、用户的义务</dt>
        <dd>1、全面遵守本协议的义务。在注册登记成为{{appName}}用户之前，须认真阅读、理解本协议各条款，一经注册成功即视为同意本协议全部条款，用户有义务全面遵守本协议。</dd>
        <dd>2、保护帐户资料义务。用户帐户资料包括用户密码、个人帐号以及用户帐号操作所需的资料。用户务必对其帐户资料自行保密，以免帐号资料被盗用或篡改。因用户保护不周导致帐户资料被盗用或篡改而给用户造成的任何损失及法律责任由用户自行承担。</dd>
        <dd>3、遵守网络安全管理的义务。用户不得利用{{appName}}制作、复制和传播下列信息：
          <ul>
            <li>（1）煽动抗拒、破坏宪法和法律、行政法规实施的；</li>
            <li>（2）煽动颠覆国家政权，推翻社会主义制度的；</li>
            <li>（3）煽动分裂国家、破坏国家统一的；</li>
            <li>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</li>
            <li>（5）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</li>
            <li>（6）宣扬迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</li>
            <li>（7）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</li>
            <li>（8）损害国家机关信誉的；</li>
            <li>（9）其他违反宪法、法律、行政法规、行政规章、地方性法规的行为。</li>
          </ul>
        </dd>
        <dd>4、保护网站安全的义务。禁止以任何方式对{{appName}}进行各种破坏行为。</dd>
      <dt>五、{{appName}}的权利</dt>
        <dd>1、管理用户帐户的权利。如果用户提供的资料包含有第四条第3款多次恶意注册信息或第7款所列信息，{{appName}}保留冻结其用户账户、注销其用户帐户或者限制其使用全部或部分服务内容的权利。一经发现用户利用{{appName}}制作、复制和传播的信息明显属于第三条第7款所列信息之一的，{{appName}}将立即采取屏蔽信息、发出警告、直至关闭用户帐户等措施。</dd>
        <dd>2、修改本协议条款的权利。{{appName}}有权在必要时修改协议条款，协议条款一旦发生变动，将会在{{appName}}相关页面上提示或公告修改内容。如果不同意所改动的内容，用户可以主动取消获得的服务。如果用户继续享用服务，则视为接受服务条款的变动。{{appName}}保留随时修改或中断服务而不需知照用户的权利。</dd>
      <dt>六、{{appName}}的义务</dt>
        <dd>1、用户帐户资料保护义务。{{appName}}对用户帐户资料提供最大限度的安全保护。</dd>
      <dt>七、协议成立、变更和终止</dt>
        <dd>1、{{appName}}有权对本协议条款进行变更而无需事先通知用户。</dd>
        <dd>2、任何一方未能履行本协议规定的任何义务，且在收到另一方发出更正通知15日内未能改正错误的，均被视为自动放弃本协议，协议同时终止。</dd>
      <dt>八、免责条款</dt>
        <dd>发生下列情况时，{{appName}}不予承担任何法律责任：</dd>
        <dd>1、用户资料泄露。由于用户将密码告知他人或与他人共享注册帐户，或由于用户的疏忽，由此导致的任何个人资料泄露，以及由此产生的纠纷。无论何种原因导致的用户资料未授权使用、修改，用户密码、注册信息被未授权篡改、盗用而产生的一切后果。</dd>
        <dd>2、不可抗力及不可预见的情势发生。不可抗力和不可预见情势包括：自然灾害、政府行为、罢工、战争等；黑客攻击、计算机病毒侵入或发作、政府管制、彩票发行和销售机构的原因、彩票出票机或服务的故障、网络故障、国家政策变化、法律法规之变化等。因不可抗力和不可预见的情势造成本协议不能履行的。</dd>
        <dd>3、用户原因或第三方原因造成损失。由于用户自身原因、或违反法律法规，以及第三方的原因，造成用户无法使用{{appName}}服务或产生其他损失的。</dd>
        <dd>4、用户使用链接或下载资料产生的损害。由于使用与{{appName}}链接的其它网站，或者使用通过{{appName}}下载或取得的资料，造成用户资料泄露、用户电脑系统损坏等情况及由此而导致的任何争议和后果。</dd>
      <dt>九、合同组成</dt>
        <dd>{{appName}}主页以及其他页面有关（包括但不限于）会员注册流程、变更流程、会员服务等运营内容的细则以及法律声明均为本协议的有效组成部分，是对本协议的解释扩充，与本协议有着相同的法律效力。</dd>
        <dd>用户资料隐私保护、网站禁止行为、网站知识产权保护等约定详见《法律声明》。</dd>
      <dt>注意事项</dt>
        <dd>1、禁止未满18周岁(未成年)者在本站注册。同时，不提倡学生购买彩票，其中也包括在校大学生。</dd>
        <dd>2、有任何疑问请及时与我们取得联系。</dd>
    </dl>
  </div>

</article>

