@import "../../../assets/css/variable"

.agreement-article
  position absolute
  -webkit-overflow-scrolling touch
  height 100%
  top 0
  background-color $theme-white-color
  padding 0 1.5rem
  font-size 1.3rem
  line-height 1.54
  color $font-sub-color
  overflow auto
  box-sizing border-box
  // border-top 3rem
  // background-color aquamarine
  // z-index: 1
  div
    position relative
    //background-color white
    //overflow auto
    //height 100%
    //z-index 1
    //-webkit-overflow-scrolling touch
  h2
    text-align center
    color $font-main-color
    font-size $font-bigger-size
    line-height 1
    padding 2.5rem 0 2.1rem
  dd, dt, p
    padding-bottom 1.3rem
    text-align justify
  dt
    padding 1.5rem 0 1rem
    color $font-main-color
    font-size $font-normal-size
    line-height 1

  li:not(:last-child)
    padding-bottom .8rem

