@import "../../../assets/css/variable"

.btn-group
  .get-btn
    font-size $font-small-size
    height 3rem
    width 8rem
    color $theme-blue-color
    background-color $theme-white-color
    border 1px solid $theme-blue-color
    border-radius @height
    &[disabled]
      border 1px solid $font-weak-color
      color $font-weak-color

.btn-box
  padding-top 6rem
