<footer class="tab">
  <a class="nav" routerLink="/home" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-zoushi"></use>
    </svg>
    <h4>走势图</h4>
  </a>
  <a class="nav" routerLink="/set" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-tixong"></use>
    </svg>
    <h4>提醒设置</h4>
  </a>
  <a class="nav" routerLink="/news" routerLinkActive="active">
    <div *ngIf="hasnews" class="red-circle"></div>
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-xiaoxi"></use>
    </svg>
    <h4>消息</h4>
  </a>
  <a class="nav" routerLink="/person" routerLinkActive="active">
    <svg class="icon-home-inactive">
      <use xlink:href="assets/icon/symbol-defs.svg#icon-gerenzhongxin"></use>
    </svg>
    <h4>个人中心</h4>
  </a>
</footer>
