<app-nav [title]="'北京赛车'" [showConfig]="{}"></app-nav>

<section class="sec-home">
  <ul class="news-list">
    <li class="news-item">
      <div class="title-box">
        <div class="red-circle"></div>
        <span class="title">大小遗漏通知</span>
        <span class="date">17/11/11</span>
      </div>
      <div class="news-detail">
        【当天遗漏时提醒】冠军车号为大已经遗漏接近昨日最大值n，若需要可前去投注。另外您还有x条免费额度，邀请好友可以增加额度，快去邀请吧！
      </div>
    </li>
    <li class="news-item">
      <div class="title-box">
        <span class="title">大小遗漏通知</span>
        <span class="date">17/11/11</span>
      </div>
      <div class="news-detail">
        【当天遗漏时提醒】冠军车号为大已经遗漏接近昨日最大值n，若需要可前去投注。另外您还有x条免费额度，邀请好友可以增加额度，快去邀请吧！
      </div>
    </li>
    <li class="news-item">
      <div class="title-box">
        <span class="title">大小遗漏通知</span>
        <span class="date">17/11/11</span>
      </div>
      <div class="news-detail">
        【当天遗漏时提醒】冠军车号为大已经遗漏接近昨日最大值n，若需要可前去投注。另外您还有x条免费额度，邀请好友可以增加额度，快去邀请吧！
      </div>
    </li>
  </ul>
</section>


<app-tab></app-tab>
