@import "../../../assets/css/variable"

.news-item
  background $theme-white-color
  margin-bottom 1.5rem
  .title-box
    display flex
    justify-content space-between
    padding 1.5rem 1.5rem 1rem
    border-bottom 1px solid rgba(206,206,206,0.4)
    .title
      line-height 1
      font-size $font-bigger-size
      color $font-main-color
    .date
      font-size $font-normal-size
      color $font-right-color
  .news-detail
    padding 1.2rem 1.5rem
    font-size $font-normal-size
    color #6e6e6e

