@import "../../../assets/css/variable"

.news-item
  background $theme-white-color
  margin-bottom 1.5rem
  .title-box
    display flex
    justify-content space-between
    padding 1.5rem 1.5rem 1rem
    border-bottom 1px solid rgba(206,206,206,0.4)
    position relative
    .red-circle
      background  $theme-red-color
      border-radius 50%
      width .8rem
      height .8rem
      display block
      position absolute
      left 1.5rem
      top 1.5rem
    .title
      padding-left .8rem
      line-height 1
      font-size $font-bigger-size
      color $font-main-color
    .date
      font-size $font-normal-size
      color $font-right-color
  .news-detail
    padding 1.2rem 1.5rem
    font-size $font-normal-size
    color #6e6e6e

.no-content
  text-align center
  color #6e6e6e
  font-size $font-normal-size
  padding-top 50%
  margin-top -4rem
  svg
    fill none
    width 15rem
    height 12.2rem
    margin-bottom 2rem
    stroke #cecece;
  span
    display block
