<app-nav [title]="title" [showConfig]="{isArrowShow: true, isSaveShow:true}"></app-nav>

<section class="sec-home">
  <div class="form" [formGroup]="telform" >
    <div class="tel-form form-field">
      <label *ngIf="title === '修改手机号'" for="tel">
        {{labelfor}}
      </label>
      <label *ngIf="title !== '修改手机号'" for="num">
        {{labelfor}}
      </label>
      <input *ngIf="title === '修改手机号'" type="tel" id="tel" maxlength="13" placeholder={{oldnumber}} (keyup)="testphonenum()" formControlName="tel" [appTelFormat]="telControl">
      <input *ngIf="title !== '修改手机号'" type="number" id="num" maxlength="3" placeholder='达到指定期数时提醒' formControlName="tel" (keyup)="testsetnum()">
      <div class="btn-group" *ngIf="setnumber">
        <button class="close-btn" appFastClick (onFastClick)="clear()">
          <svg class="icon-close">
            <use xlink:href="assets/icon/symbol-defs.svg#icon-shanchu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<app-fly-msg [msg]="msg"></app-fly-msg>
