@import "../../../assets/css/variable"

.tel-form
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 0 $default-h-padding
  height 5.5rem
  background $theme-white-color
  color $font-main-color
  label
    font-size $font-bigger-size
    margin-right 1.5rem
  input
    font-size $font-normal-size
    flex-grow 1
    text-align left
  svg
    fill #cecece
    vertical-align middle
  .icon-close
    width 1.9rem
    height @width

.save-tip
  position fixed
  bottom 15rem
  left 50%
  padding 1.5rem
  font-size 1.3rem
  color $theme-white-color
  line-height 1
  letter-spacing 1px
  background-color rgba(0,0,0,.7)
  border-radius .5rem
  transform translateX(-50%)
  white-space nowrap
  overflow hidden
  z-index 2
  svg
    width 2.8rem
    height 2.8rem
    fill #fff
    margin 0 auto
    display block
    margin-bottom 1rem

.tips
  padding 1.5rem
  color $font-sub-color
  font-size 1rem
