@import "../../../assets/css/variable"

.time-table
  display inline
  margin-left 1rem
  span
    display inline-block
    svg
      width: .8rem;
      height: 1.7rem;
      fill $theme-red-color
      stroke none
      vertical-align middle

