@import "../../../assets/css/variable"

.setting-sec
  margin-top $default-gap
  display flex
  align-items center
  height 4.6rem
  padding 0 1.5rem
  color $theme-red-color
  font-size $font-biggest-size
  background-color $theme-white-color
  input
    flex auto
    font-size $font-big-size
    color $font-main-color


.icon-close
  width 1.2rem
  height @width
  padding 1rem 0 1rem 1rem
  fill $font-weak-color
  &:active
    fill darken($font-weak-color, 10%)
