<app-nav [title]="'个人中心'" [showConfig]="{}"></app-nav>

<header class="person-header login-header"  (click)="pushToUserInfo()">
  <img class="avatar" *ngIf="!nickName" src="assets/image/touxiangzhihui.png">
  <img class="avatar" *ngIf="nickName" src="assets/image/touxiang.png">
  <div class="info" *ngIf="nickName">
    <h4 class="name">{{nickName}}</h4>
    <div class="tel">账号： {{telnum}}</div>
  </div>
  <svg class="icon-xiayibu" *ngIf="nickName">
    <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
  </svg>
  <div class="btn-group" *ngIf="!nickName">
    <button class="btn"  (click)="go('/login')">未登录</button> /
    <button class="btn"  (click)="go('/register/tel-valid')">注册</button>
  </div>
</header>

<main class="person-main">
  <ul class="nav-list">
    <li class="nav-item"  (click)="go('/help')">
      <div class="item-box">
        <svg class="icon-help">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-guize"></use>
        </svg>
        <p class="title">玩法规则</p>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
        </svg>
      </div>
    </li>
  </ul>
  <ul class="nav-list">
    <li class="nav-item"  (click)="goPage('/invite')">
      <div class="item-box">
        <svg class="icon-server">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-yaoqing"></use>
        </svg>
        <p class="title">邀请好友</p>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
        </svg>
      </div>
    </li>
    <li class="nav-item"  (click)="goPage('setting')">
      <div class="item-box">
        <svg class="icon-setting">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-shezhi"></use>
        </svg>
        <p class="title">设置</p>
        <svg class="icon-right-arrow">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
        </svg>
      </div>
    </li>
  </ul>
</main>

<app-tab></app-tab>
