@import "../../../assets/css/variable"

.invite-sec
  padding-top 1.5rem
  height 100%
  background $theme-blue-color
  text-align center
  .code
    background $theme-white-color
    border-radius .5rem
    width 33rem
    height @width
    margin 0 auto 1.5rem
    .tip
      font-size $font-normal-size
      color $font-main-color
      padding-top 4rem
      margin-bottom 1.3rem
    img
      width 18.3rem
      height @width
    .code-num
      font-size $font-bigger-size
      color $theme-blue-color
      margin-top 2.9rem
  .express
    background $theme-white-color
    border-radius .5rem
    width 33rem
    height 26.8rem
    margin 0 auto
    .title
      font-size $font-bigger-size
      color $font-main-color
      padding-top 1.7rem
      margin-bottom 2.4rem
    p
      margin-bottom 1.1rem
      padding 0 2.2rem
      letter-spacing 0.7px
      font-size $font-normal-size
      color #6e6e6e
      text-align left
