<app-nav [title]="'邀请好友'" [showConfig]="{isArrowShow: true}"></app-nav>

<section class="invite-sec">
  <div class="data">
    <div class="total">
      <div class="title">
        累计邀请
      </div>
      <div class="number">
        {{total}}
        <span>(人)</span>
      </div>
    </div>
    <div class="remain">
      <div class="title">
        短信剩余额度
      </div>
      <div class="number">
        {{remain}}
        <span>(条)</span>
      </div>
    </div>
  </div>

  <div class="url">
    <div class="tips">
      复制邀请链接发送给朋友
    </div>
    <div class="input-url">
      <input type="text" value="{{shareLink}}" id="input" #input>
    </div>
    <button #btn (click)="copy()" data-clipboard-target="#input">
      点击复制
    </button>
  </div>

  <div class="code">
    <img [attr.src]="shareLinkImg" />
    <div class="code-exp">
      分享您的二维码，邀请你的小伙伴一起加入~
    </div>
  </div>
</section>
