<section class="number-container">
  <table>
    <thead>
      <tr>
        <th>期号</th>
        <th>开奖号码</th>
        <th>时间</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          083期
        </td>
        <td>
          <span>开奖剩余:</span>
          <span class="time">
            <app-showtime [time]="time"></app-showtime>
          </span>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          082期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
      <tr>
        <td>
          081期
        </td>
        <td>
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </td>
        <td>
          13：17
        </td>
      </tr>
    </tbody>
  </table>
</section>
