<section class="number-container" [appTouchLoading]="!isCompleted && !isLoading" (canLoad)="canLoad()">
  <table>
    <thead>
      <tr>
        <th>期号</th>
        <th>开奖号码</th>
        <th>时间</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{latest}}期
        </td>
        <td>
          <span class="hastime">开奖剩余:</span>
          <span class="time">
            <app-showtime (onRefresh)="refresh()"></app-showtime>
          </span>
        </td>
        <td>
          {{latesttime}}
        </td>
      </tr>
      <tr *ngFor="let item of numberList">
        <td>
          {{item.bjpkExpect}}期
        </td>
        <td>
          <ul>
            <li *ngFor="let code of item.bjpkOpencode">{{code}}</li>
          </ul>
        </td>
        <td>
          {{item.bjpkOpentime}}
        </td>
      </tr>
    </tbody>
  </table>

  <!--<app-number-empty *ngIf="isCompleted && !numberList[0]"></app-number-empty>-->
  <app-list-loading *ngIf="!isPageLoading && isLoading"></app-list-loading>
  <div class="completed" *ngIf="isCompleted">没有更多了</div>
</section>
