@import "../../../assets/css/variable"

.personal-sec
  margin-top $default-gap
  font-size $font-big-size
  background-color $theme-white-color

.detail-box
  padding-left 1.5rem
  &:active
    background-color darken($theme-white-color, 10%)
  .detail
    border-bottom $default-border
    padding-left 0

.detail
  display flex
  align-items center
  height 4.6rem
  padding 0 1.5rem
  h4
    flex auto
    color $font-main-color
  p
    color $font-weak-color

.icon-right-arrow
  width 1.2rem
  height @width
  fill $font-weak-color
  margin-left .9rem
