@import "../../../assets/css/variable"

.personal-sec
  font-size $font-big-size
  background-color $theme-white-color

.detail-box
  padding-left 1.5rem
  .detail
    padding-left 0

.detail
  display flex
  align-items center
  height 4.5rem
  padding 0 1.5rem
  font-size $font-normal-size
  h4
    flex-grow 0
    color $font-main-color
  input
    flex-grow 1
    color $font-main-color
    margin-left 1.6rem

.icon-close
  width 1.9rem
  height @width
  fill $font-weak-color
  margin-left .9rem
