<app-nav [title]="'修改昵称'" [showConfig]="{isArrowShow: true, isSaveShow: true}" (onSave)="onSave()"></app-nav>

<section class="personal-sec">
  <div class="detail-box">
    <div class="detail">
      <h4>昵称:</h4>
      <input type="text" [placeholder]="name" [formControl]="nickName" autofocus>
      <svg class="icon-close"  (click)="clear()" *ngIf="nickName.value">
        <use xlink:href="assets/icon/symbol-defs.svg#icon-shanchu"></use>
      </svg>
    </div>
  </div>
</section>

<app-fly-msg [msg]="msg"></app-fly-msg>

