@import "../../../assets/css/variable"

.form-sec
  margin-top 4.5rem
.big-title
  font-size 2.1rem
  text-align center
  color #6e6e6e
  line-height 1
  margin-top 4rem
  letter-spacing 1px
.btn-box
  padding-top 6rem

.form-field
  input
    padding-left 0
    font-size $font-normal-size
.form
  margin-top 0

.sec-info
  line-height 4.2rem
  font-size $font-small-size
  color $font-sub-color
  padding-left 1.5rem

.footer-tip
  position fixed
  width 100%
  bottom 2.4rem
  text-align center
  color $font-sub-color
  font-size $font-small-size
  .agreement
  .tel
    color $theme-blue-color
    &:active
      color-darken()
  .tel
    text-decoration underline

.icon-mima
  stroke $theme-blue-color
  width 1.6rem
  height 1.9rem
  padding-right 1.5rem
  margin-right 1.5rem
  border-right $default-border
