@import "../../../assets/css/variable"

.btn-box
  padding-top 6rem

.form-field
  input
    padding-left 0
.form
  margin-top 0

.sec-info
  line-height 4.2rem
  font-size $font-small-size
  color $font-sub-color
  padding-left 1.5rem

.footer-tip
  position fixed
  width 100%
  bottom 2.4rem
  text-align center
  color $font-sub-color
  font-size $font-small-size
  .agreement
  .tel
    color $theme-blue-color
    &:active
      color-darken()
  .tel
    text-decoration underline
