<svg class="line" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <line x1="300" y1="150" x2="150" y2="200" style="stroke:#c11e12;stroke-width:1"></line>
</svg>
<section class="number-container">
  <table>
    <thead>
    <tr>
      <th>冠军</th>
      <th>亚军</th>
      <th>第三名</th>
      <th>第四名</th>
      <th>第五名</th>
      <th>第六名</th>
      <th>第七名</th>
      <!--<th>第八名</th>-->
      <!--<th>第九名</th>-->
      <!--<th>第十名</th>-->
    </tr>
    </thead>
  </table>
  <table>
    <tbody>
    <tr class="top">
      <td rowspan="2">
        期号
      </td>
      <td colspan="10">
        冠亚和值走势
      </td>
    </tr>
    <tr class="type">
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>12</td>
      <td>14</td>
      <td>16</td>
      <td>18</td>
      <td>20</td>
    </tr>
    <tr>
      <td>6554408</td>
      <td></td>
      <td><span class="active index1">7</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554407</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active index2">6</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554406</td>
      <td><span class="active index3">2</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554405</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active">1</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554404</td>
      <td></td>
      <td><span class="active">10</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554403</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active">10</span></td>
    </tr>
    <tr>
      <td>6554402</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active">3</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!--<tr class="occur">-->
      <!--<td>出现次数</td>-->
      <!--<td>4</td>-->
      <!--<td>6</td>-->
    <!--</tr>-->
    <!--<tr class="ave-missing">-->
      <!--<td>平均遗漏</td>-->
      <!--<td>1</td>-->
      <!--<td>0</td>-->
    <!--</tr>-->
    <!--<tr class="max-missing">-->
      <!--<td>最大遗漏</td>-->
      <!--<td>2</td>-->
      <!--<td>2</td>-->
    <!--</tr>-->
    <!--<tr class="max-out">-->
      <!--<td>最大连出</td>-->
      <!--<td>2</td>-->
      <!--<td>2</td>-->
    <!--</tr>-->
    </tbody>
  </table>
</section>



