<svg class="line" width="100%" [attr.height]="tableheight" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <polyline [attr.points]="points" style="stroke-width:1" [style.stroke]="color"></polyline>
</svg>
<section class="number-container">
  <table>
    <tbody>
    <tr class="top">
      <td rowspan="2">
        期号
      </td>
      <td colspan="10">
        冠亚和值走势
      </td>
    </tr>
    <tr class="type">
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>12</td>
      <td>14</td>
      <td>16</td>
      <td>18</td>
      <td>20</td>
    </tr>
    <tr>
      <td>6554408</td>
      <td></td>
      <td><span class="active index1" [style.backgroundColor] = "color">7</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554407</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active index2" [style.backgroundColor] = "color">6</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554406</td>
      <td><span class="active index3" [style.backgroundColor] = "color">2</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554405</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">1</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554404</td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">10</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554403</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">10</span></td>
    </tr>
    <tr>
      <td>6554402</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">3</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554408</td>
      <td></td>
      <td><span class="active index1" [style.backgroundColor] = "color">7</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554407</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active index2" [style.backgroundColor] = "color">6</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554406</td>
      <td><span class="active index3" [style.backgroundColor] = "color">2</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554405</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">1</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554404</td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">10</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554403</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">10</span></td>
    </tr>
    <tr>
      <td>6554402</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">3</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554408</td>
      <td></td>
      <td><span class="active index1" [style.backgroundColor] = "color">7</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554407</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active index2" [style.backgroundColor] = "color">6</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554406</td>
      <td><span class="active index3" [style.backgroundColor] = "color">2</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554405</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">1</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554404</td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">10</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>6554403</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">10</span></td>
    </tr>
    <tr>
      <td>6554402</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="active" [style.backgroundColor] = "color">3</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!--<tr class="occur">-->
      <!--<td>出现次数</td>-->
      <!--<td>4</td>-->
      <!--<td>6</td>-->
    <!--</tr>-->
    <!--<tr class="ave-missing">-->
      <!--<td>平均遗漏</td>-->
      <!--<td>1</td>-->
      <!--<td>0</td>-->
    <!--</tr>-->
    <!--<tr class="max-missing">-->
      <!--<td>最大遗漏</td>-->
      <!--<td>2</td>-->
      <!--<td>2</td>-->
    <!--</tr>-->
    <!--<tr class="max-out">-->
      <!--<td>最大连出</td>-->
      <!--<td>2</td>-->
      <!--<td>2</td>-->
    <!--</tr>-->
    </tbody>
  </table>
</section>



