<section class="number-container">
  <svg class="line" width="100%" [attr.height]="tableheight" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <polyline [attr.points]="points" style="stroke-width:1" [style.stroke]="color"></polyline>
    <g *ngFor="let item of trendList">
      <circle [attr.cx]="item.x" [attr.cy]="item.y" r="1rem" fill="#379ade" text-anchor="middle" dominant-baseline="middle" />
      <text [attr.x]="item.x" [attr.y]="item.ytext" fill="#fff" text-anchor="middle" dominant-baseline="middle" >{{item.num}}</text>
    </g>
  </svg>
  <table>
    <tbody>
    <tr class="top">
      <td rowspan="2">
        期号
      </td>
      <td colspan="10">
        冠亚和值走势
      </td>
    </tr>
    <tr class="type">
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
      <td>12</td>
      <td>14</td>
      <td>16</td>
      <td>18</td>
      <td>20</td>
    </tr>
    <tr *ngFor="let item of trendList">
      <td>{{item.bjpkExpect}}</td>
      <td>
        <span [attr.class]="item.num === 2 ? 'active' : none" *ngIf="item.num === 2"></span>
        <span [attr.class]="item.num === 3 ? 'active' : none" *ngIf="item.num === 3"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 4 ? 'active' : none" *ngIf="item.num === 4"></span>
        <span [attr.class]="item.num === 5 ? 'active' : none" *ngIf="item.num === 5"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 6 ? 'active' : none" *ngIf="item.num === 6"></span>
        <span [attr.class]="item.num === 7 ? 'active' : none" *ngIf="item.num === 7"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 8 ? 'active' : none" *ngIf="item.num === 8"></span>
        <span [attr.class]="item.num === 9 ? 'active' : none" *ngIf="item.num === 9"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 10 ? 'active' : none" *ngIf="item.num === 10"></span>
        <span [attr.class]="item.num === 11 ? 'active' : none" *ngIf="item.num === 11"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 12 ? 'active' : none" *ngIf="item.num === 12"></span>
        <span [attr.class]="item.num === 13 ? 'active' : none" *ngIf="item.num === 13"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 14 ? 'active' : none" *ngIf="item.num === 14"></span>
        <span [attr.class]="item.num === 15 ? 'active' : none" *ngIf="item.num === 15"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 16 ? 'active' : none" *ngIf="item.num === 16"></span>
        <span [attr.class]="item.num === 17 ? 'active' : none" *ngIf="item.num === 17"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 18 ? 'active' : none" *ngIf="item.num === 18"></span>
        <span [attr.class]="item.num === 19 ? 'active' : none" *ngIf="item.num === 19"></span>
      </td>
      <td>
        <span [attr.class]="item.num === 20 ? 'active' : none" *ngIf="item.num === 20"></span>
      </td>
    </tr>
    <!--<tr class="occur">-->
      <!--<td>出现次数</td>-->
      <!--<td>4</td>-->
      <!--<td>6</td>-->
    <!--</tr>-->
    <!--<tr class="ave-missing">-->
      <!--<td>平均遗漏</td>-->
      <!--<td>1</td>-->
      <!--<td>0</td>-->
    <!--</tr>-->
    <!--<tr class="max-missing">-->
      <!--<td>最大遗漏</td>-->
      <!--<td>2</td>-->
      <!--<td>2</td>-->
    <!--</tr>-->
    <!--<tr class="max-out">-->
      <!--<td>最大连出</td>-->
      <!--<td>2</td>-->
      <!--<td>2</td>-->
    <!--</tr>-->
    </tbody>
  </table>
</section>



