@import "../../../assets/css/variable"

table
  border-top .5px solid rgba(206,206,206,0.4)
.number-container
  padding-top 4.4rem
  padding-bottom 5.9rem
  table
    tbody
      tr:nth-child(even)
        background $theme-white-color
      tr
        td
          border-bottom none
          width 3rem
          .active
            background $theme-little-blue-color
          &:nth-child(0)
            width 6rem
      .top
      .type
        border-bottom .5px solid rgba(206,206,206,0.4)

.even
  margin-right -1rem !important
