<app-nav *ngIf="bigtitle === '号码'" [title]="bigtitle" [showConfig]="{}"></app-nav>
<app-nav *ngIf="bigtitle !== '号码'" [title]="bigtitle" [showConfig]="{isGosetnewsShow: true}" (onSet)="goSetnews()"></app-nav>

<section class="sec-home">
  <div class="nav-bar">
    <a routerLink="/home/number" routerLinkActive="active">号码</a>
    <a routerLink="/home/bigsmall" routerLinkActive="active">大小走势</a>
    <a routerLink="/home/singledouble" routerLinkActive="active">单双走势</a>
    <a routerLink="/home/onetwo" routerLinkActive="active">冠亚和值</a>
    <a routerLink="/home/dragontiger" routerLinkActive="active">1-5龙虎</a>
  </div>

  <app-number *ngIf="number"></app-number>
  <app-bigsmall *ngIf="bigsmall"></app-bigsmall>
  <app-oneandtwo *ngIf="oneandtwo"></app-oneandtwo>
</section>


<app-tab></app-tab>

<app-modal *ngIf="confirmshow" [modal]='modal' [showconfirm]="true" (onConfirm)='onConfirm($event)'></app-modal>
