<app-nav [title]="'消息提醒'" [showConfig]="{}"></app-nav>

<section class="sec-home">
  <div class="tel" appFastClick (onFastClick)="goPage('./set-tel')">
    <span>手机号：</span>
    <span class="num">
      13513551355
      <svg class="icon-xiayibu">
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
      </svg>
    </span>
  </div>

  <div class="alert-box">
    <div class="title">
      消息类型
    </div>
    <div class="nav-bar">
      <a routerLink="/set/bigsmall" routerLinkActive="active">号码大小</a>
      <a routerLink="/set/singledouble" routerLinkActive="active">号码单双</a>
      <a routerLink="/set/onetwo" routerLinkActive="active">冠亚和值</a>
      <a routerLink="/set/dragontiger" routerLinkActive="active">1-5龙虎</a>
    </div>
    <app-settype></app-settype>
  </div>

  <div class="tip">
    说明：您的免费短信剩余额度为{{hasmsgnum}}条，如若需提高额度，可前往个人中心-邀请好友~
  </div>

  <a class="seemore" href="http://www.cwl.gov.cn/">
    详情查看福利彩票官网
  </a>
</section>


<app-tab></app-tab>

