@import "../../../assets/css/variable"

.tel
  display flex
  justify-content space-between
  padding 1.5rem
  font-size $font-bigger-size
  color $font-main-color
  .num
    font-size 1.1rem
    color #6e6e6e
  .icon-xiayibu
    width .9rem
    height 1.5rem
    stroke $font-right-color
    fill none

