<app-nav [title]="'消息提醒'" [showConfig]="{}"></app-nav>

<section class="sec-home">
  <div class="tel">
    <span>手机号：</span>
    <span class="num">
      13513551355
      <svg class="icon-xiayibu">
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
      </svg>
    </span>
  </div>

  <div class="alert-box">
    <div class="title">
      消息类型
    </div>
    <div class="nav-bar">
      <a>号码大小</a>
      <a>号码单双</a>
      <a>冠亚和值</a>
      <a>1-5龙虎</a>
    </div>
    <div class="detail">
      <div class="today detail-item">
        <span>当天遗漏时提醒
        <svg class="icon-xiayibu">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
        </svg>
        </span>
        <div class="check-btn">
          <div class="circle"></div>
        </div>
      </div>
      <div class="week detail-item">
        <span>本周遗漏时提醒
        <svg class="icon-xiayibu">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
        </svg>
        </span>
        <div class="check-btn">
          <div class="circle"></div>
        </div>
      </div>
      <div class="month detail-item">
        <span>本月遗漏时提醒
        <svg class="icon-xiayibu">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
        </svg>
        </span>
        <div class="check-btn">
          <div class="circle"></div>
        </div>
      </div>
      <div class="history detail-item">
        <span>历史遗漏时提醒
        <svg class="icon-xiayibu">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
        </svg>
        </span>
        <div class="check-btn">
          <div class="circle"></div>
        </div>
      </div>
      <div class="setnumber detail-item">
        <span>遗漏值达到设置值提醒
        <svg class="icon-xiayibu">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
        </svg>
        </span>
        <svg class="icon-xiayibu">
          <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="tip">
    说明： 说明：您的免费短信剩余额度为n条，如若需提高额度，可前往个人中心-邀请好友~
  </div>

  <a class="seemore">
    详情查看福利彩票官网
  </a>
</section>


<app-tab></app-tab>
