@import "../../../assets/css/variable"

.sec-home
  position relative

.tel
  display flex
  justify-content space-between
  padding 1.5rem
  font-size $font-bigger-size
  color $font-main-color
  background $theme-white-color
  .num
    font-size 1.1rem
    color #6e6e6e
    line-height 2.2rem
  .icon-xiayibu
    width .9rem
    height 1.5rem
    stroke $font-right-color
    fill none
    vertical-align middle

.alert-box
  .title
    font-size 1.3rem
    color $font-right-color
    margin-top 1.2rem
    margin-bottom .7rem
    padding-left 1.5rem
  .nav-bar
    display flex
    justify-content space-between
    border-bottom $default-border
    background $theme-white-color
    padding 0 .8rem
    a
      font-size $font-normal-size
      color #6e6e6e
      padding 1.2rem 0
    .active
      color $theme-blue-color
      border-bottom 2px solid $theme-blue-color

.tip
  font-size 1.3rem
  color $font-right-color
  line-height 1.54
  margin-top 1rem
  padding 0 1.5rem

.seemore
  color $theme-little-blue-color
  font-size $font-normal-size
  width 100%
  display block
  text-align center
  position fixed
  bottom 6.5rem
