@import "../../../assets/css/variable"

.help-sec
  background-color $body-color
  ul
    margin-top $default-gap
    background-color $theme-white-color

.question
  display flex
  align-items center
  height 4.6rem
  padding 0 1.5rem
  color $font-main-color
  font-size $font-big-size
  border-bottom $default-border
  background-color $theme-white-color
  &:active
    background-color darken($theme-white-color, 10%)
  h4
    flex auto
  .icon-up-arrow
  .icon-down-arrow
    width 1.2rem
    height 1.2rem
    fill $font-weak-color

.answer
  color $font-sub-color
  font-size 1.3rem
  line-height 1.54
  border-bottom $default-border
  p
    padding 1rem 1.5rem
