<svg class="line" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <line x1="300" y1="150" x2="150" y2="200" style="stroke:#c11e12;stroke-width:1"></line>
</svg>
<section class="number-container">
  <table>
    <thead>
      <tr>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/1">冠军</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/2">亚军</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/3">第三名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/4">第四名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/5">第五名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/6">第六名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/7">第七名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/8">第八名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/9">第九名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/bigsmall/10">第十名</a>
        </th>
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/2">亚军</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/3">第三名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/4">第四名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/5">第五名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/6">第六名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/7">第七名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/8">第八名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/9">第九名</th>-->
        <!--<th routerLinkActive="active" routerLink="/home/bigsmall/10">第十名</th>-->
      </tr>
    </thead>
  </table>
  <table>
    <tbody>
      <tr class="top">
        <td rowspan="2">
          期号
        </td>
        <td colspan="2">
          {{title}}
        </td>
      </tr>
      <tr class="type">
        <td>小</td>
        <td>大</td>
      </tr>
      <tr>
        <td>6554408</td>
        <td>2</td>
        <td><span class="active index1" [style.backgroundColor]="color">7</span></td>
      </tr>
      <tr>
        <td>6554407</td>
        <td>1</td>
        <td><span class="active index2" [style.backgroundColor]="color">6</span></td>
      </tr>
      <tr>
        <td>6554406</td>
        <td><span class="active index3" [style.backgroundColor]="color">2</span></td>
        <td>2</td>
      </tr>
      <tr>
        <td>6554405</td>
        <td><span class="active" [style.backgroundColor]="color">1</span></td>
        <td>1</td>
      </tr>
      <tr>
        <td>6554404</td>
        <td>2</td>
        <td><span class="active" [style.backgroundColor]="color">10</span></td>
      </tr>
      <tr>
        <td>6554403</td>
        <td>1</td>
        <td><span class="active" [style.backgroundColor]="color">10</span></td>
      </tr>
      <tr>
        <td>6554402</td>
        <td><span class="active" [style.backgroundColor]="color">3</span></td>
        <td>2</td>
      </tr>
      <tr>
        <td>6554401</td>
        <td><span class="active" [style.backgroundColor]="color">5</span></td>
        <td>1</td>
      </tr>
      <tr>
        <td>6554400</td>
        <td>3</td>
        <td><span class="active" [style.backgroundColor]="color">7</span></td>
      </tr>
      <tr>
        <td>6554399</td>
        <td>2</td>
        <td><span class="active" [style.backgroundColor]="color">9</span></td>
      </tr>
      <tr>
        <td>6554398</td>
        <td>1</td>
        <td><span class="active" [style.backgroundColor]="color">10</span></td>
      </tr>
      <tr>
        <td>6554397</td>
        <td><span class="active" [style.backgroundColor]="color">3</span></td>
        <td>1</td>
      </tr>
      <tr>
        <td>6554406</td>
        <td>1</td>
        <td><span class="active" [style.backgroundColor]="color">7</span></td>
      </tr>
      <tr class="occur">
        <td>出现次数</td>
        <td>4</td>
        <td>6</td>
      </tr>
      <tr class="ave-missing">
        <td>平均遗漏</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr class="max-missing">
        <td>最大遗漏</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr class="max-out">
        <td>最大连出</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</section>



