@import "../../../assets/css/variable"

.number-container
  padding-top 4.4rem
  padding-bottom 5.9rem
  table
    width 100%
    border-collapse collapse
    border-spacing 0
    thead
      height 2.7rem
      background #f7f7f7
      padding 1.5rem
      th
        color #8d8d8d
        font-size $font-small-size
        line-height 1
        text-align center
        padding 0
        a
          padding .8rem 0
          display block
          border-bottom 2px solid transparent
      .active
        color $theme-blue-color
        border-bottom 2px solid $theme-blue-color !important
    tbody
      tr
        td
          text-align center
          color #6e6e6e
          font-size $font-normal-size
          line-height 1rem
          padding 1rem 0
          border-bottom .5px solid rgba(206,206,206,0.4)
          &:not(:last-child)
            border-right .5px solid rgba(206,206,206,0.4)
          &:nth-child(1)
            color $font-main-color
          .active
            background $theme-blue-color
            border-radius 50%
            display block
            margin 0 auto
            color $theme-white-color
            width 2rem
            height 2rem
            line-height 2rem
            z-index 4
          .none
            color #6e6e6e
        &:nth-child(odd)
          background $theme-white-color
        &:nth-child(even)
          background #f7f7f7
      .occur
      .ave-missing
      .max-missing
      .max-out
        td
          color $font-main-color
      .occur
        td
          &:nth-child(1)
            color #1c8e7e
      .ave-missing
        td
          &:nth-child(1)
            color #a75b0c
      .max-missing
        td
          &:nth-child(1)
            color #0b9942
      .max-out
        td
          &:nth-child(1)
            color #0b64a1
      .top
        td
          &:nth-child(1)
            width 9.3rem
      .type
        td
          height 3.1rem
          background $theme-white-color
          color #6e6e6e !important
.line
  position absolute
  margin-top 2.8rem
  fill none
  font-size 1.4rem
  z-index 3



