<section class="number-container">
  <svg class="line" width="100%" [attr.height]="tableheight" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <polyline [attr.points]="points" style="stroke-width:1" [style.stroke]="color"></polyline>
  </svg>
  <table>
    <thead>
      <tr>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/1" (click)="getData('0')">冠军</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/2" (click)="getData('1')">亚军</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/3" (click)="getData('2')">第三名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/4" (click)="getData('3')">第四名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/5" (click)="getData('4')">第五名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/6" (click)="getData('5')">第六名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/7" (click)="getData('6')">第七名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/8" (click)="getData('7')">第八名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/9" (click)="getData('8')">第九名</a>
        </th>
        <th>
          <a  routerLinkActive="active" routerLink="/home/{{seturl}}/10" (click)="getData('9')">第十名</a>
        </th>
      </tr>
    </thead>
  </table>
  <table class="data-list">
    <tbody>
      <tr class="top">
        <td rowspan="2">
          期号
        </td>
        <td colspan="2">
          {{title}}
        </td>
      </tr>
      <tr class="type">
        <td>{{smalltitle1}}</td>
        <td>{{smalltitle2}}</td>
      </tr>
      <tr *ngFor="let item of trendList">
        <td>{{item.bjpkExpect}}</td>
        <td *ngIf="title !== '1-5龙虎'"><span [attr.class]="item.num === 0 ? 'active' : none" [style.backgroundColor]="item.num === 0 ? color : 'transparent'">{{item.first}}</span></td>
        <td *ngIf="title !== '1-5龙虎'"><span [attr.class]="item.num === 1 ? 'active' : none" [style.backgroundColor]="item.num === 1 ? color : 'transparent'">{{item.second}}</span></td>
        <td *ngIf="title === '1-5龙虎' && item.firsts"><span [attr.class]="item.num === 0 ? 'active' : none" [style.backgroundColor]="item.num === 0 ? color : 'transparent'">{{item.firsts}}</span></td>
        <td *ngIf="title === '1-5龙虎' && item.first"><span [attr.class]="item.num === 0 ? 'active' : none" [style.backgroundColor]="item.num === 0 ? color : 'transparent'">{{item.first}}</span></td>
        <td *ngIf="title === '1-5龙虎' && item.seconds"><span [attr.class]="item.num === 1 ? 'active' : none" [style.backgroundColor]="item.num === 1 ? color : 'transparent'">{{item.seconds}}</span></td>
        <td *ngIf="title === '1-5龙虎' && item.second"><span [attr.class]="item.num === 1 ? 'active' : none" [style.backgroundColor]="item.num === 1 ? color : 'transparent'">{{item.second}}</span></td>
      </tr>
      <tr class="occur">
        <td>出现次数</td>
        <td>{{detaillmsg.occur1}}</td>
        <td>{{detaillmsg.occur2}}</td>
      </tr>
      <tr class="ave-missing">
        <td>平均遗漏</td>
        <td>{{detaillmsg.avemissing1}}</td>
        <td>{{detaillmsg.avemissing2}}</td>
      </tr>
      <tr class="max-missing">
        <td>最大遗漏</td>
        <td>{{detaillmsg.max1}}</td>
        <td>{{detaillmsg.max2}}</td>
      </tr>
      <tr class="max-out">
        <td>最大连出</td>
        <td>{{detaillmsg.out1}}</td>
        <td>{{detaillmsg.out2}}</td>
      </tr>
    </tbody>
  </table>
</section>



