<section class="number-container">
  <table>
    <thead>
      <tr>
        <th>冠军</th>
        <th>亚军</th>
        <th>第三名</th>
        <th>第四名</th>
        <th>第五名</th>
        <th>第六名</th>
        <th>第七名</th>
        <!--<th>第八名</th>-->
        <!--<th>第九名</th>-->
        <!--<th>第十名</th>-->
      </tr>
    </thead>
  </table>
  <table>
    <tbody>
      <tr class="top">
        <td rowspan="2">
          期号
        </td>
        <td colspan="2">
          大小走势
        </td>
      </tr>
      <tr class="type">
        <td>小</td>
        <td>大</td>
      </tr>
      <tr>
        <td>6554408</td>
        <td>2</td>
        <td>7</td>
      </tr>
      <tr>
        <td>6554407</td>
        <td>1</td>
        <td>6</td>
      </tr>
      <tr>
        <td>6554406</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <td>6554405</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>6554404</td>
        <td>2</td>
        <td>10</td>
      </tr>
      <tr>
        <td>6554403</td>
        <td>1</td>
        <td>10</td>
      </tr>
      <tr>
        <td>6554402</td>
        <td>3</td>
        <td>2</td>
      </tr>
      <tr>
        <td>6554401</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <td>6554400</td>
        <td>3</td>
        <td>7</td>
      </tr>
      <tr>
        <td>6554399</td>
        <td>2</td>
        <td>9</td>
      </tr>
      <tr>
        <td>6554398</td>
        <td>1</td>
        <td>10</td>
      </tr>
      <tr>
        <td>6554397</td>
        <td>3</td>
        <td>1</td>
      </tr>
      <tr>
        <td>6554406</td>
        <td>1</td>
        <td>7</td>
      </tr>
      <tr class="showtimes">
        <td>出现次数</td>
        <td>4</td>
        <td>6</td>
      </tr>
      <tr class="average">
        <td>平均遗漏</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr class="largest">
        <td>最大遗漏</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr class="last">
        <td>最大连出</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</section>
